@font-face {
  font-family: Minecraft;
  src: url(MinecraftTen-VGORe.ttf);
}
body {
    font-family:Minecraft;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 1rem;
    line-height: 1.5em;
}
